body {
    margin: 0 auto;
    background-color: #181818;
}  

h2 {
    color: #ffffff;
}


.container {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
}

.app_header {
    height: 50px;
    background-color: #242424;
}

.header_title {
    color: #f6bd40;
}

/* заголовок плейлистов */

.header_playlists_title {
    color: #f6bd40;
    align-self: center;
}

.header_playlists {
    margin: 0 auto;
    width: 1300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header_btnAddPlaylist {
    background-color: #f6bd40;
}

/* плейлисты */

.container_playlists {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.playlist {
    min-width: 570px;
    min-height: 250px;
    padding: 30px;
    margin-top: 40px;
    background-color: #282828;
}

.header_container {
    max-width: 540px;
    display: flex;
    justify-content: space-around;
}

.playlist_header__title {

}

.header_description__top {
    color: #ffffff;
}

.tracks_container {
    margin-top: 20px;
}


.track {
    display: flex;
    padding: 10px;
}

.footer {
    margin-top: auto;
    width: 100%;
    height: 40px;
    background-color: #242424;
}

.container_deleteBtn {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.deletePlaylist_btn {
    height: 40px;
    background-color: #f9a201;
}
